$blue-1 : #059EAF;
$blue-2 : #1CB09E;
$blue-3 : #12C9B3;

$gray-1 : #D9D9D9;
$gray-2 : #6C6C6C;
$gray-3 : #A6A6A6;
$gray-4 : #F3F3F3;
$gray-5 : #FAFAFA;

$back-1 : #2D2D2D;

$white-1: #ffffff;
$white-2 : #FFFBF4;

$red-1 : #EF4352;


$s05px: 0.03125rem;

$s4px : 0.25rem;
$s7px : 0.4375rem;
$s8px : 0.5rem;
$s10px : 0.625rem;

$s12px : 0.75rem;
$s14px : 0.875rem;
$s15px : 0.9375rem;
$s16px : 1rem;
$s18px : 1.125rem;
$s20px: 1.25rem;

$s21px: 1.3125rem;
$s23px : 1.4375rem;
$s26px : 1.625rem;
$s28px: 1.75rem;

$s32px : 2rem;
$s40px: 2.5rem;

$s44px: 2.75rem;
$s46px : 2.875rem;
$s48px : 3rem;
$s50px : 3.125rem;

$s60px : 3.75rem;
$s62px : 3.875rem;

$s73px : 4.625rem;


$s92px : 5.75rem;
$s100px : 6.25rem;
$s117px : 7.3125rem;

$s120px: 7.5rem;
$s121px : 7.5625rem;

$s200px: 12.5rem;

$s256px : 16rem;

$s384px : 24rem;