@import '../../styles/value.scss';

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: $s384px;

    >img{
        width: $s73px;
        height: $s73px;
    }
}