@import '../../styles/value.scss';

.header {
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    font-size: $s16px;
    color: $blue-1;

    .headerLogo {
        width: 30px;
    }

    a {
        text-decoration: none;
        &:visited, &:active {
            color: $blue-1;
        }
    }

    .headerLeftContents {
        display: flex;
        gap: 50px;
        margin-left: 50px;
    }
    .headerRightContents {
        display: flex;
        gap: 50px;
    }

    &.white {
        color: $white-1;
        a {
            text-decoration: none;
            &:visited, &:active {
                color: $white-1;
            }
        }
    }
}

.recruitmentSearchWrapOriginal {
    position: relative;
    display: inline-block;
    margin: 0 106px;
    button {
        content: '';
        position: absolute;
        top: 50%;
        right: 16px;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    input {
        padding: 16px 46px 16px 16px;
        width: 488px;
        height: 46px;
        font-size: $s13px;
        color: $blue-1;
        background-color: transparent;
        border-radius: 10px;
        border: 0.5px solid $blue-1;
        &::placeholder {
            color: $blue-1 ;
        }
        &:focus, &:focus-visible {
            border: 1px solid $blue-2;
            outline: none;
        }
    }
}

.recruitmentSearchWrapWhite {
    position: relative;
    display: inline-block;
    margin: 0 106px;
    button {
        content: '';
        position: absolute;
        top: 50%;
        right: 16px;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    input {
        padding: 16px 46px 16px 16px;
        width: 488px;
        height: 46px;
        font-size: $s13px;
        color: $white-1;
        background-color: transparent;
        border-radius: 10px;
        border: 0.5px solid $white-1;
        &::placeholder {
            color: $white-1 ;
        }
        &:focus, &:focus-visible {
            border: 1px solid $white-1;
            outline: none;
        }
    }
}