@import '../../styles/value.scss';

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;

    .novelContainer {
        margin-top: 16px;
        .novelHeader {
            display: flex;
            justify-content: space-between;
        }
    }
}